{% extends 'base.html' %}
{% block content %}
<div class="card card-primary">
  <div class="card-header"><h3 class="card-title">Mein Benutzerprofil</h3></div>
  <div class="card-body">
    <div class="form-group">
      {{ form.username.label }}
      {{ form.username(class='form-control', readonly=true) }}
    </div>
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class='form-control', readonly=true) }}
    </div>
    <div class="form-group">
      {{ form.shortcode.label }}
      {{ form.shortcode(class='form-control', readonly=true) }}
      <small class="form-text text-muted">Dein persönliches Benutzerkürzel ist nur durch Admins in der Benutzerverwaltung änderbar.</small>
    </div>
  </div>
</div>
{% endblock %}
