{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <form class="form-inline" method="get">
      <input class="form-control mr-2" name="q" placeholder="Suche" value="{{ q }}">
      <button class="btn btn-primary">Suchen</button>
    </form>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead><tr><th>Name</th><th>Version</th><th>Aktualisiert</th><th></th></tr></thead>
      <tbody>
      {% for p in pagination.items %}
        <tr><td>{{ p.name }}</td><td>{{ p.current_version }}</td><td>{{ p.updated_at }}</td><td><a class="btn btn-sm btn-info" href="{{ url_for('profiles.detail', profile_id=p.id) }}">Details</a></td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
